// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
 }
 	/*---------slider-head---------*/
	.head_slider{
		text-align: center;
		height: auto;
		width: 100%;
		position: relative;
		ul li img{
			width: 100%;
		}
			.bx-wrapper .bx-pager,
			.bx-wrapper .bx-controls-auto {
				position: absolute;
				bottom: auto;
				top: 0px;
				width: 100%;
				padding: 18px 45px 0 0 ;
				box-sizing: border-box;
				text-align: right;
				font-size: 0;
				opacity: 0.8;
				a{
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background:#bcc3c7;
					position: relative;
					&.active, &:hover {
						background:#bcc3c7;
						&:before{
							content: '';
							position: absolute;
							width: 9px;
							height: 9px;
							background:#a39ea3;
							top: 3px;
							left: 3px;
							border-radius: 50%;
						}
					}
				}
			}
	}
		.time_head{
			position: absolute;
			bottom: 15px;
			right: 57px;
			z-index: 50;
			width: 120px;
			text-align: left;
			span{
				font-size: 14px;
				text-transform: uppercase;
				color: #fff;
			}
			strong{
				height: 20px;
				display: block;
				background:#fff;
				line-height: 20px;
				color: #777678;
				font-size: 17px;
				padding: 0 5px;
				font-weight: normal;
			}
		}
	/*--------end-slider-head---------*/

	/*--------menu---------*/
	.head_menu{
		background:#ebecec;
		padding: 32px 0;
		text-align: center;
		position: relative;
		&.fixed{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 20;
		}
	}
		.menu{
			font-size: 28px;
			color: #6d726e;
			li{
				display: inline-block;
				margin: 0 2%;
				font-weight: 300;
				a{
					text-decoration: none;
					&:hover, &.active{
						color: #ef7f1a;
					}
				}
			}
		}
		.social{
			position: absolute;
			right: 40px;
			top: 43px;
			li{
				display: inline-block;
				padding: 0 3px;
			}
		}
	/*--------end-menu-----*/

/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }

 	.logo_wrap{
 		height: 487px;
 		background:url(../img/bg2.png) no-repeat center;
 		 @include background_fixed('');

 	}
 		.logo{
			display: block;
			margin: 107px 0;
 		}

	
	.about_us{
		background:#fecc00;
		padding: 27px 0 40px 0;
		text-align: center;
		font-size: 15px;
		h3{
			padding-bottom: 40px;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 18px;
		}
		p{
			width: 50%;
			margin: auto;
		}

	}

	.vip_wrap{
		height: 440px;
 		background:url(../img/bg3.png) no-repeat center;
 		 @include background_fixed('');
 		box-sizing: border-box;
 		padding: 58px 0 0 0;
 		text-align: center;
 		nav{
 			display: block;
 			font-size: 0;
 			a{
 				display: inline-block;
 				width: 195px;
 				height: 195px;
 				background:#fff;
 				font-size: 40px;
 				text-decoration: none;
 				line-height: 195px;
 				text-transform: uppercase;
 				font-weight: 400;
 				&:hover, &.active{
 					background:#fecc00;
 				}
 			}
 		}
	}

	.services_wrap{
		background:#37b7ca;
		text-align: center;
		padding: 33px 0;
		h3{
			padding-bottom: 40px;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 18px;
		}
		article{
			overflow: hidden;
			div{
				float: left;
				width: 50%;
				box-sizing: border-box;
				padding: 0 3%;
				font-size: 15px;
				text-align: left;
			}
		}
	}

	.services_images{
		background:transparent url('../img/bg4.png') center no-repeat;
		 @include background_fixed('');
		height: 457px;
		figure{
			padding: 112px 0 24px 0;
			text-align: center;
			img{
				margin: 0 4px;
			}
		}
		p{
			width: 50%;
			margin: 0 auto;
			color: #fff;
			text-align: center;
			font-size: 15px;
			line-height: 1.4;
		}
	}

	.contacts_wrap{
		background-color: #eb6343;
		text-align: center;
		padding: 30px 0 45px 0;
		h3{
			padding-bottom: 40px;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 18px;
			color: #fff;
		}
		form{
			width: 525px;
			margin: 0 auto;
			overflow: hidden;
			padding-bottom: 50px;
			div{
				padding-bottom: 20px;
			}
			input, textarea{
				text-align: center;
			}
			textarea{
				height: 202px;
			}
			.button{
				float: right;
				background:#8a311f;
				color: #eb6343;
				font-weight: bold;
				font-size: 24px;
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
		.contacts_txt{
			width: 525px;
			margin: 0 auto;
			p{
				color: #fff;
				font-size: 18px;
				border-bottom: 2px solid #fff;
				padding-bottom: 10px;
			}
			nav{
				padding: 10px 0 0 0;
			}
		}

	h3{
		padding-bottom: 40px;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 18px;
	}
	.partners_wrap {
		background:#bbc274;
		text-align: center;
		padding: 32px 0 70px 0;
		h3{
			color: #858a4b;
		}
		.bx-wrapper .bx-controls-direction a{
			width: 41px;
			height: 50px;
			background: url('../img/arrow_slider.png') center no-repeat;
			margin-top: -20px;
		}
		.bx-wrapper .bx-prev{
			left: -67px;
		}
		.bx-wrapper .bx-next{
			right: -67px;
			transform: rotate(180deg);
		}
	}
		.partners_slider{
			padding: 15px 80px;
			background:#858a4b;
			
		}
/*----------end main----------*/	


/*----------page2------------------*/
.relax_wrap{
	background:url('../img/bg5.png') center no-repeat;
	@include background_fixed('');
	height: 487px;
	.container{
		height: 487px;
	}
	h6{
		position: absolute;
		bottom: 38px;
		left: 0;
		z-index: 5;
		width: 100%;
		background:#37b7ca;
		padding: 11px 15px;
		font-weight: 300;
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
	}
}
	.relax_block{
		float: right;
		text-align: right;
		width: 465px;
		padding: 20px  0 0 0;
		h4{
			border: 4px solid #fefefe;
			display: inline-block;
			text-align: center;
			height: 60px;
			width: 393px;
			line-height: 60px;
			font-size: 40px;
			color: #fff;
			text-shadow: 0 0 4px rgba(0,0,0, 0.7);
			box-shadow: 0 0 5px rgba(0,0,0, 0.7), inset 0 0 5px rgba(0,0,0, 0.7);
		}
		h5{
			font-size: 40px;
			color: #fff;
			text-shadow: 0 0 4px rgba(0,0,0, 0.7);
			padding: 2px 0 19px 0;
		}
		.button{
			background:#eb6343;
			border-radius: 6px;
			padding: 2px 5px;
			color: #fff;
			text-transform: none;
			font-size: 22px;
		}
	}

.about_us.green{
	background:#bbc274;
	color: #fff;
	h3{
		font-size: 30px;
	}
}

.routes_wrap{
	padding: 70px 0;
	background:#fff383;
	text-align: center;
}
	.routes_item{
		display: inline-block;
		width: 265px;
		height: 170px;
		margin: 0 7%;
		margin-bottom: 35px;
		vertical-align: top;
		@include povh('');
		figure {
			img{
				display: block;
				border: 18px solid #fff;
			}
		}
		dl{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background:#eb6343;
			padding: 12px 16px;
			box-sizing: border-box;
			color: #fff;
			text-align: left;
			dt{
				text-transform: uppercase;
				font-size: 13px;
				padding-bottom: 14px;
				position: relative;
				cursor: pointer;
				&:before{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 3;
					width: 19px;
					height: 12px;
					background:url('../img/icons/arrow_route.gif') center no-repeat;
				}
			}
			dd{
				padding: 7px 0 0 0;
				display: none;
			}
		}
	}

.more_info_wrap{
background:#37b7ca;
padding:  25px 0 70px 0;
text-align: center;
}
	.title{
		font-size: 30px;
		font-weight: 300;
		color: #fff;
		text-transform: uppercase;
	}
	.more_info_block{
		dl{
			width: 280px;
			display: inline-block;
			vertical-align: top;
			padding: 0 5%;
			dt{
				span{
					display: block;
					text-transform: uppercase;
					font-size: 18px;
					padding-bottom: 11px;
					color: #000;
				}
			}
			dd{
				color: #fff;
				font-size: 14px;
				text-align: left;
			}
		}
	}


/*--------page3----------------*/
.about_us.yellow{
	background:#fff385;
	p{
		text-align: left;
	}
}

.gallery_wrap.partners_wrap{
	background:#37b8cd;
	h3{
		color: #fff;
		font-size: 30px;
		text-transform: uppercase;
	}
}
.gallery_slider{
	padding: 15px 80px;
	background:#9adde5;	
	li img{
		border: 4px solid #fff;
	}
}
.reviews_wrap{
	background:#bbc475;
	padding: 32px 0 0 0;
	.title{
		text-align: center;
		color: #535432;
	}
}
	.reviews_form{
		padding: 10px 15px;
		background:#d3d7a4;
		width: 526px;
		margin: 0 auto;
		margin-top: 40px;
		& > img{
			float: left;
			padding: 0 23px 0 0; 
		}

	}
		.reviews_form_inner{
			overflow: hidden;
			textarea{
				height: 186px;
				width: 100%;
			}
			.button{
				width: 115px;
				height: 25px;
				background:#9a999e;
				color: #fff;
				font-weight: 300;	
				padding: 0;
				font-size: 15px;		
			}
			form{
				text-align: right;
				padding-bottom: 17px;
			}
		}
		.review{
			section{
				margin-bottom: 30px;
				background:#fff;
				border-radius: 20px;
				color: #313131;
				font-style: italic;
				padding: 18px;
				font-size: 24px;
			}
		}

/*-------------------page4------------------------*/
.about_us{
	h6{
		margin-top: -40px;
		font-size: 20px;
		margin-bottom: 50px;
	}
}

.map_route{
	background:#fff385;
	padding: 34px 0 13px 0;
	color: #705f4b;
	article{
		@include povh('');
		margin-bottom: 25px;
		
	}
	p{
			font-size: 17px;
			color: #312600;
		}
	figure{
		float: left;
		width: 442px;
		padding: 11px;
		margin: 0 22px 0 0;
		border: 3px solid #bdc065;
		border-radius: 14px;
		box-sizing: border-box;
	}
	figcaption{
		padding: 12px 0 0 0;
		font-size: 17px;
	}
	h3{
		padding-bottom: 0;
		text-align: center;
		font-size: 30px;
	}
	h6{
		padding: 13px 0;
		text-align: center;
		font-size: 20px;
	}
	h3, h6{
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	table{
		width: 100%;
		text-align: center;
		th{
			border-left: 13px solid #fff481;
			background:#bbc475;
			padding: 13px 0;
			color: $white;
			font-size: 20px;
		}
		td{
			border-left: 13px solid #fff481;
			padding: 1px 0;
			text-decoration: underline;
			font-size: 30px;
			font-weight: bold;
			color: #bbc471;
			span{
				padding-left: 40px;
				position: relative;
				&:before{
					content: ">";
					position: absolute;
					left: 0;
					top: -10px;
					font-size: 40px;
					font-family: monospace;
				}
			}
		}
		td, th{
			&:first-child{
				border-left: none;
			}
		}
	}
}
	.under_table{
		@include povh('');
		padding: 20px 0 0 0;
		p{
			float: left;
			width: 45%;
		}
		.button{
			float: right;
			border-radius: 17px;
			background:#fe0002;
			color: #fff;
			border: 5px solid #f0eff5;
			&:hover{
				opacity: 0.7;
			}
		}
	}

 .map_route:nth-child(2n){
	background:#37b8cd;
	color: #356f71;
	figure{
		border-color: #82dbe9;
	}
	table{
		th, td{
			border-color: #37b8cd;
		}
		th{
			background:#fff385;
			color: #474b01;
		}
		td{
			color: #e8f88b;
		}
	}
}

.footer_inner{
	background:#bbc475;
	padding: 10px 0 30px 0;
	text-align: center;
}

/*------------modal------------*/
.modal{
	padding: 40px;
	h6{
		text-align: center;
		color: #4a2101;
		font-size: 24px;
		padding-bottom: 18px;
	}
	table{
		width: 100%;
	}
	td{
		font-size: 16px;
		padding-bottom: 10px;
		input, select{
			width: 100%;
			height: 25px;
		}
		&:first-child{
			text-align: right;
			padding: 0 25px 0 0;
			vertical-align: top;
		}
	}
	.button{
		background:#8c3021;
		color: #fff;
	}
}