// Normally mainpage styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 

//styles for custom device width
@include mq($max-width: 1330px) {
  .social{
  	position: static;
  	padding: 15px 0 0 0;
  }
  .services_images{
  	height: auto;
  	padding-bottom: 20px;
    background-size: cover;
  	p{
  		width: auto;
  		margin: 0 5%;
  	}
  }
  .head_menu{
  	&.fixed{
  		position: static !important; 
  	}
  }
}

//styles for ipad
@include ipad {
	.menu{
		font-size: 18px;
	}
	.about_us p{
		width: auto;
  		margin: 0 5%;
	}
	.more_info_block{
		dl{
			width: 28%;
			padding: 0 2%;
		}
	}
}

@include mq($max-width: 767px) {
	.time_head{
		right: auto;
		left: 3%;
	}
	.menu{
		font-size: 18px;
	}
	.about_us p{
		width: auto;
  		margin: 0 5%;
	}
	.services_wrap article div{
		float: none;
		width: 100%;
		padding: 15px 3%;
	}
	.services_images p{
		padding: 0 0%;
	}
	.more_info_block{
		dl{
			width: 90%;
			display: block;
			margin: auto ;
			padding: 0 0 30px 0;
		}
	}
}

@include mq($max-width: 600px) {
	.contacts_wrap form, .contacts_txt{
		width: auto;
	}
	.contacts_wrap form .button{
		float: none;
		margin: auto;
	}
	.container{
		padding: 0 2%
	}
	img{
		max-width: 100%;
	}
	.vip_wrap{
		height: auto;
		padding: 50px 0;
	}
	.vip_wrap nav a {
	    display: inline-block;
	    width: 40%;
	    height: 100%;
	    padding: 15% 0;
	    background: #fff;
	    font-size: 40px;
	    text-decoration: none;
	    line-height: 1.5;
	    text-transform: uppercase;
	    font-weight: 400;
	}
	.relax_block{
		width: 100%;
	}
	.relax_block h4{
		width: auto;
		font-size: 25px;
		padding: 0 20px
	}
	.relax_block h5{
		font-size: 22px;
	}
	.reviews_form{
		width: auto;
	}
		.reviews_form > img{
			float: none;
			margin: auto;
			margin-bottom: 10px;
			display: block;
		}

	.map_route figure{
		width: auto;
		margin: 0 0 20px 0 ;
		float: none;
	}
	.under_table p{
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.map_route table td, .map_route table th{
		font-size: 11px;
		border-left-width: 1px;
		span{
			padding: 0;
			&:before{
				display: none;
			}
		}
	}
}

//styles for iphone
@include iphone5 {
	.time_head{
		display: none;
	}
	.menu li{
		display: block;
	}
	.logo_wrap{
		text-align: center;
	}
} 